@{
    var userId = User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TMSystem</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/sidebarStyle.css" />
    <link rel="stylesheet" href="~/css/notifications.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
</head>

<body>
    <div class="d-flex">
        <div class="border-end border-light">
            <!-- Sidebar content here -->
            <div class="pt-3 align-items-center mb-3 border-bottom">
                <a href="/" class="text-center link-body-emphasis text-decoration-none">
                    <span class="fs-5 ms-3 mb-3 fw-semibold">TMSystem</span>
                </a>
                <div class="row m-3">
                    <i class="bi bi-person-vcard col-md-auto"></i>
                    <pre class="col-md-auto">@User.Identity.Name
workspace</pre>
                </div>
            </div>
            @*<div class="align-items-center mb-3">
                <form class="m-3" method="get" action="/Search">
                    <input class="form-control" placeholder="Type to search..." name="query">
                </form>
            </div>*@
            <div class="align-items-center">
                <div class="align-items-center border-bottom">
                    <div class="justify-content-between mb-3">
                        <button class="h4 btn btn-toggle d-inline-flex align-items-center collapsed"
                                data-bs-toggle="collapse" data-bs-target="#projects-collapse" aria-expanded="false">
                            Projects
                        </button>
                        <a class="ms-3 border border-2 border-primary-subtle rounded-pill fs-6" asp-area=""
                           asp-controller="Projects" asp-action="Add"><i class="bi bi-plus"></i></a>
                    </div>
                    <div class="collapse" id="projects-collapse">
                        @await Component.InvokeAsync("Projects")
                    </div>
                </div>
                <div class="align-items-center mt-3">
                    <button class="h4 btn btn-toggle d-inline-flex align-items-center collapsed"
                            data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="true">
                        Account
                    </button>
                    <div class="collapse show" id="account-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li>
                                <a asp-controller="Account" asp-action="Profile"
                                   class="link-body-emphasis d-inline-flex text-decoration-none text-black rounded">Profile</a>
                            </li>
                            @if (User.IsInRole("admin"))
                            {
                                <li>
                                    <a asp-controller="Admin" asp-action="ManageUsers"
                                       class="link-body-emphasis d-inline-flex text-decoration-none text-black rounded">
                                        Manage Users
                                    </a>
                                </li>
                            }
                            <li>
                                <a href="#" class="link-body-emphasis d-inline-flex text-decoration-none text-black rounded position-relative"
                                   data-bs-toggle="modal" data-bs-target="#notificationModal"
                                   id="notificationLink">
                                    Notification
                                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" id="unreadCountBadge" style="display: none;">
                                        <span class="visually-hidden">unread messages</span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <form id="logoutForm" asp-area="" asp-controller="Account" asp-action="Logout"
                                      method="post" class="form-inline">
                                    <a href="javascript:void(0);" id="logoutLink" class="nav-link text-black">
                                        Sign out
                                    </a>
                                </form>
                                <script>document.getElementById('logoutLink').addEventListener('click', function () {
                                        document.getElementById('logoutForm').submit();
                                    });</script>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-grow-1">
            <!-- Main content here -->
            <main role="main" class="p-4">
                @RenderBody()
            </main>
        </div>
    </div>

    <div id="toast-container" class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <!-- Toast messages will be appended here dynamically -->
    </div>

    <!-- Notification Modal -->
    <div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="notificationModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="notificationModalLabel">Notifications</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="notificationList">
                        <!-- Notifications will be displayed here -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.11/signalr.min.js"></script>
    <script src="~/js/signalR.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/sidebar.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        var userId = '@userId';
    </script>
    <script src="~/js/notifications.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>