@model TaskManagementSystem.ViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}
<h1 class="change-password-header">Change Password</h1>
<hr class="change-password-divider" />
<div class="row-change-password">
    <div class="col-change-password">
        <form method="post" asp-action="ChangePassword" asp-controller="Account" class="form-change-password">
            <div asp-validation-summary="All" class="validation-summary-change-password"></div>
            <div class="form-group-change-password">
                <label asp-for="OldPassword" class="label-change-password"></label>
                <input asp-for="OldPassword" class="input-change-password" />
                <span asp-validation-for="OldPassword" class="validation-error-change-password"></span>
            </div>
            <div class="form-group-change-password">
                <label asp-for="NewPassword" class="label-change-password"></label>
                <input asp-for="NewPassword" class="input-change-password" />
                <span asp-validation-for="NewPassword" class="validation-error-change-password"></span>
            </div>
            <div class="form-group-change-password">
                <label asp-for="ConfirmPassword" class="label-change-password"></label>
                <input asp-for="ConfirmPassword" class="input-change-password" />
                <span asp-validation-for="ConfirmPassword" class="validation-error-change-password"></span>
            </div>
            <button type="submit" class="btn-change-password">Update</button>
        </form>
    </div>
</div>
