@{
    var userId = User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
    ViewData["Title"] = "Add new project";
}

@model TaskManagementSystem.ViewModels.AddProjectViewModel
<h1 class="add-header">Add Project</h1>
<hr class="add-divider" />

<form asp-action="Add" method="post" class="add-custom-form">

    <input type="hidden" asp-for="User_id" value="@userId" />

    <div class="add-custom-group">
        <label class="add-custom-label">Name</label>
        <input type="text" class="add-custom-input" asp-for="Name" />
    </div>

    <div class="add-custom-group">
        <label class="add-custom-label">Description</label>
        <input type="text" class="add-custom-input" asp-for="Description" />
    </div>

    <div class="add-custom-group">
        <button type="submit" class="add-custom-button">Add Project</button>
    </div>
</form>


