@{
    var userId = User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
}

@model TaskManagementSystem.ViewModels.AddProjectViewModel

<h1>Add Project</h1>

<form asp-action="Add" method="post">

    <input type="hidden" asp-for="UserId" value="@userId" />

    <div class="mt-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name" />
    </div>

    <div class="mt-3">
        <label class="form-label">Description</label>
        <input type="text" class="form-control" asp-for="Description" />
    </div>

    <div class="mt-3">
        <label class="form-label">Created At</label>
        <input type="datetime-local" class="form-control" asp-for="CreatedAt" />
    </div>

    <div class="mt-3">
        <label class="form-label">Updated At</label>
        <input type="datetime-local" class="form-control" asp-for="UpdatedAt" />
    </div>

    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Add Project</button>
    </div>
</form>