@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewData["Title"] = "Project Edit";
}

@model TaskManagementSystem.Models.Project

<h1>Edit Project</h1>

@if (Model is null)
{
    <p>No project was found with this Id</p>
}
else
{
    <form asp-action="Edit" method="post">
        <input type="hidden" class="form-control" asp-for="Project_id" />

        <div class="mt-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" asp-for="Name" />
        </div>

        <div class="mt-3">
            <label class="form-label">Description</label>
            <input type="text" class="form-control" asp-for="Description" />
        </div>

        <input type="hidden" class="form-control" asp-for="UpdateAt" />

        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="submit" class="btn btn-danger ms-3"
                    asp-action="Delete"
                    asp-controller="Projects">
                Delete
            </button>
        </div>
    </form>
}