html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.task-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 20px;
}
.modal-custom {
  max-width: 600px !important; 
}
.modal-custom .modal-header {
  background-color: #ffffff;
  border-bottom: none !important;
}
.modal-custom .modal-body {
  background-color: #ffffff;
  padding: 1rem 1rem 0 1rem !important;
}
.activity-comment {
  margin-top: 1em;
  padding: 1em;
  background-color: #f8f9fa;
  border-radius: 18px;
}
.reply-box {
  display: flex;
  align-items: center;
}
.modal-custom .modal-footer {
  border-top: none !important; 
  padding: 0.5rem 1rem;
}